@charset "UTF-8";
/*Обнуляємо параметри замовчуванням у браузерів*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Roboto&display=swap");
* {
  /* зірочка означає, що ми звертаємось до всіх тегів на сторінці*/
  padding: 0;
  /*обнуляємо внутрішні відступи*/
  margin: 0;
  /*обнуляємо зовнішні відступи*/
  border: 0;
  /*обнуляємо межі*/
}

*, *:before, *:after {
  /*змінюємо підрахунок ширини блоку для всіх тегів та тегів із псевдоелементами*/
  -webkit-box-sizing: border-box;
  /* "-webkit" означає apple*/
  box-sizing: border-box;
  /*Розмір боксу включає в себе всі відступи і будь-які межі. Контет буде зжиматись, щоб вмістить в боксі*/
  -moz-box-sizing: border-box;
  /* "-moz" означає firefox */
}

:focus, :active {
  outline: none;
}

/*забераємо лінії обводки в деяких браузерах підчас використання предпроцесів*/
a:focus, a:active {
  outline: none;
}

/*забераємо лінії обводки в деяких браузерах підчас використання передпроцесів на посиланнях*/
nav, footer, header, aside {
  display: block;
}

/*одразу надаємо кільком тегам HTML5 властивостей блоку*/
html, body {
  height: 100%;
  /*Вказуємо сайту займати всю висоту материського блоку - монітору*/
  width: 100%;
  /*Вказуємо сайту займати всю ширину материського блоку - монітору*/
  font-size: 100%;
  /*Розмір за замовчуванням має 100% від вказаного розміру*/
  line-height: 1;
  /*Міжрядковий інтервал дорівнює ширині шрифта*/
  font-size: 14px;
  /*Розмір шрифта за замовчуванням 14 пікселів. Класіка.*/
  -ms-text-size-adjust: 100%;
  /* "-ms" значить microsoft (не даємо браузеру самовільно змінювати розмір шрифта) */
  -moz-text-size-adjust: 100%;
  /* "-moz" означає firefox (не даємо браузеру самовільно змінювати розмір шрифта)*/
  -webkit-text-size-adjust: 100%;
  /* "-webkit" означає apple (не даємо айфонам самовільно змінювати розмір шрифта)*/
}

input, button, textarea {
  font-family: inherit;
}

/*Звертаємось до тегів форм і просимо їх наслідувати сімейство шрифта*/
input::-ms-clear {
  display: none;
}

/*Заберає заданий автоматично стиль кнопки "очистити текстове поле". Спочатку ця кнопка невидима і 
з'являється у правій частині поля лише підчас введення тексту. Браузер Internet Explorer& Edge.*/
button {
  cursor: pointer;
}

/*Задаємо стиль курсору підчас наведеня на кнопку*/
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/*Забираємо зайві відступи та пробели навкруги кнопок в браузері Firefox.*/
a, a:visited {
  text-decoration: none;
}

/*Відвідані посилання не змінюються*/
a:hover {
  text-decoration: none;
}

/*Посилання при наведенні не змінюються*/
ul li {
  list-style: none;
}

/*Видаляємо стилі списків*/
img {
  vertical-align: top;
}

/*Встановлюємо за замовчуванням вертикальне позиціонування тегу картинки*/
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 400;
}

/*Обнуляємо стилі заголовку та вказуємо наслідувати сімейство шрифта*/
/*------------------------------------------------------------------------------------------------------------------------------*/
body._lock {
  overflow: hidden;
}

.wrapper {
  font-family: 'Montserrat', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.page {
  min-height: 100%;
}

.container {
  min-width: 375px;
  margin: 0 auto;
  padding: 0px 20px;
}

@media (min-width: 767px) {
  .container {
    max-width: 767px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1210px;
  }
}

@media (min-width: 2560px) {
  .container {
    max-width: 1850px;
  }
}

.section__title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 150%;
  text-align: center;
  color: #111111;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #67AEFC;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
}

@media (min-width: 1024px) {
  .header .container {
    min-height: 60px;
  }
}

@media (min-width: 1920px) {
  .header .container {
    min-height: 95px;
  }
}

@media (min-width: 2560px) {
  .header .container {
    min-height: 100px;
  }
}

.header__logo {
  z-index: 9;
}

.header__logo::before {
  content: '';
  background: url("../img/favicon.svg") left/35px 35px no-repeat;
  padding: 20px 35px 20px 5px;
}

@media (min-width: 1920px) {
  .header__logo::before {
    background: url("../img/favicon.svg") left/59px 59px no-repeat;
    padding: 40px 59px 34.5px 10px;
  }
}

@media (min-width: 2560px) {
  .header__logo::before {
    background: url("../img/favicon.svg") left/82px 82px no-repeat;
    padding: 60px 82px 50px 15px;
  }
}

.header__title {
  font-weight: 800;
  color: #FFFFFF;
  font-size: 13px;
  letter-spacing: 2.5px;
}

@media (min-width: 1920px) {
  .header__title {
    font-size: 24px;
    letter-spacing: 5.5px;
  }
}

@media (min-width: 2560px) {
  .header__title {
    font-size: 32px;
    letter-spacing: 7.5px;
  }
}

.menu__icon {
  z-index: 9;
  position: relative;
  width: 50px;
  height: 18px;
  top: 5px;
  display: inline-block;
  cursor: pointer;
}

.menu__icon::before, .menu__icon::after {
  content: '';
}

.menu__icon span, .menu__icon::before, .menu__icon::after {
  top: 0;
  position: absolute;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #FFFFFF;
}

.menu__icon::before {
  left: 0;
}

.menu__icon span {
  left: 50%;
  -webkit-transform: scale(1) translate(-50%, 0%);
          transform: scale(1) translate(-50%, 0%);
}

.menu__icon::after {
  right: 0;
}

.menu__icon._active {
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
}

.menu__icon._active::before, .menu__icon._active span, .menu__icon._active::after {
  left: -35%;
  position: absolute;
  height: 20%;
  width: 100%;
  border-radius: 0%;
}

.menu__icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu__icon._active::before {
  -webkit-transform: rotate(45deg) translate(0px, 0px);
          transform: rotate(45deg) translate(0px, 0px);
}

.menu__icon._active::after {
  -webkit-transform: rotate(-45deg) translate(0px, 0px);
          transform: rotate(-45deg) translate(0px, 0px);
}

.menu__body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(103, 174, 252, 0.95);
  padding: 60px 30px 30px 30px;
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  overflow: auto;
  text-transform: uppercase;
}

.menu__body::before {
  content: '';
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 50px;
  background-color: #67AEFC;
  z-index: 8;
}

.menu__body._active {
  left: 0;
}

.menu__list {
  font-weight: 800;
  font-size: 17px;
  line-height: 27px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.menu__item {
  margin-top: 40px;
}

.menu__link {
  padding: 5px 0px;
  color: #FFFFFF;
}

.menu__link:hover {
  text-decoration: underline;
}

@media (min-width: 767px) {
  .menu__icon {
    display: none;
  }
  .menu__body {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    overflow: hidden;
  }
  .menu__body::before {
    display: none;
  }
  .menu__list {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__item {
    margin: 0px 10px;
  }
  .menu__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: 1024px) {
  .menu__list {
    font-size: 16px;
  }
  .menu__item {
    margin: 0px 17.5px;
  }
}

@media (min-width: 2560px) {
  .menu__list {
    font-size: 25px;
  }
  .menu__item {
    margin: 0px 20px;
  }
}

.order__button {
  width: 150px;
  height: 37.78px;
  background: #75E169;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  color: #FFFFFF;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.order__button:hover {
  border: 2px solid #FFFFFF;
}

.order__button:active {
  background: #FFFFFF;
  color: #67AEFC;
}

@media (min-width: 1024px) {
  .order__button {
    width: 170px;
  }
}

@media (min-width: 2560px) {
  .order__button {
    width: 240px;
    font-size: 25px;
    height: 60px;
  }
}

.order__button_menu {
  display: none;
}

@media (min-width: 767px) {
  .order__button_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.order__button_content {
  margin-top: 35px;
  width: 335px;
  height: 60px;
  border-radius: 10px;
}

.order__button_content:hover {
  border: 2px solid #67AEFC;
}

.order__button_content:active {
  background: #67AEFC;
  color: #FFFFFF;
}

.fullscreen {
  min-height: 100vh;
  margin-top: 80px;
}

.fullscreen__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fullscreen__img {
  width: 100%;
}

@media (min-width: 1024px) {
  .fullscreen {
    margin-top: 90px;
  }
}

@media (min-width: 1920px) {
  .fullscreen {
    margin-top: 170px;
  }
}

@media (min-width: 2560px) {
  .fullscreen {
    margin-top: 270px;
  }
}

.img__fullscreen {
  width: 100%;
}

.content__title {
  margin-top: 50px;
  font-weight: 800;
  font-size: 26px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}

.content__text {
  margin-top: 22px;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  text-align: left;
}

.about {
  margin-top: 51px;
  background: #DAECFF;
  padding: 16px 0px 30px 0;
}

.about__list {
  margin-top: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 175%;
  color: #000000;
}

.about__item {
  margin: 10px 0px;
  background: #FFFFFF;
  border-radius: 10px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.about__item._active {
  padding-bottom: 50px;
}

.about__item._active .about__name {
  font-weight: 800;
}

.about__item._active .about__name::before {
  background: #6EB1FB;
}

.about__item._active .about__arrow {
  margin-top: 10px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about__item._active .about__text {
  display: block;
}

.about__chapter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 14px 0px 14px 57px;
}

.about__name {
  width: 233px;
}

.about__name::before {
  content: '';
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #75E169;
  border-radius: 50%;
  position: relative;
  left: -33px;
  top: 2px;
  margin: 0px -18px 0px 0px;
}

.about__arrow {
  width: 21px;
  height: 21px;
  border-top: 3px solid #000000;
  border-left: 3px solid #000000;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  margin-right: 24px;
}

.about__text {
  display: none;
  border-left: 2px solid #000000;
  padding-left: 25px;
  margin: 20px 40px 0px 30px;
}

@media (min-width: 450px) {
  .about__name {
    width: auto;
  }
}

@media (min-width: 1024px) {
  .about {
    padding: 26px 0px 40px 0;
  }
  .about__list {
    margin-top: 27px;
  }
}

@media (min-width: 1420px) {
  .about {
    padding: 36px 0px 60px 0;
  }
  .about__list {
    margin-top: 42px;
  }
  .about__title {
    font-size: 32px;
  }
  .about__list {
    margin-top: 35px;
    font-size: 20px;
  }
}

@media (min-width: 1920px) {
  .about {
    padding: 120px 0px 120px 0;
  }
  .about__list {
    margin-top: 84px;
  }
  .about__chapter {
    padding: 14px 0px 14px 96px;
  }
  .about__name::before {
    width: 24px;
    height: 24px;
    position: relative;
    left: -44px;
    top: 5px;
    margin: 0px -24px 0px 0px;
  }
  .about__arrow {
    margin-right: 40px;
  }
  .about__text {
    padding-left: 27px;
    margin: 20px 70px 0px 62px;
  }
}

@media (min-width: 2560px) {
  .about__title {
    font-size: 40px;
  }
  .about__list {
    font-size: 32px;
  }
  .about__name::before {
    width: 30px;
    height: 30px;
    position: relative;
    left: -50px;
    top: 5px;
    margin: 0px -30px 0px 0px;
  }
  .about__arrow {
    width: 30px;
    height: 30px;
  }
  .about__text {
    padding-left: 45px;
    margin: 20px 100px 0px 60px;
  }
}

.development .swiper-slide {
  height: 615px;
  padding: 25px 30px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.development__title {
  margin-top: 40px;
}

.development__slider {
  border: 2px solid #67AEFC;
  border-radius: 15px;
  margin-top: 20px;
  font-size: 17px;
  line-height: 175%;
  color: #000000;
}

.development__part {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.development__stage {
  font-weight: 800;
  text-transform: uppercase;
}

.development__picture {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.development__picture img {
  max-width: 100%;
  height: 100%;
}

.development__button {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 45px;
}

.development__button .swiper-button-prev-unique, .development__button .swiper-button-next-unique {
  width: 60px;
  height: 60px;
  border: 2px solid #67AEFC;
  border-radius: 15px;
}

.development__button .swiper-button-prev-unique::after, .development__button .swiper-button-next-unique::after {
  content: '';
  display: block;
  width: 24px;
  height: 24px;
  border-top: 2px solid #000000;
  border-left: 2px solid #000000;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.development__button .swiper-button-prev-unique::after {
  position: relative;
  left: 20px;
  top: 16px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.development__button .swiper-button-next-unique::after {
  position: relative;
  left: 12px;
  top: 16px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

@media (min-width: 760px) {
  .development .swiper-slide {
    height: 320px;
    padding: 25px 30px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .development__text {
    margin-top: 20px;
  }
  .development__picture {
    margin-bottom: 0px;
  }
}

@media (min-width: 1024px) {
  .development__title {
    margin-top: 60px;
  }
  .development__slider {
    margin-top: 46px;
  }
  .development__button {
    margin: 50px 0px 100px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .development__button .swiper-button-prev-unique, .development__button .swiper-button-next-unique {
    margin: 0 15px 0;
  }
}

@media (min-width: 1420px) {
  .development .container {
    min-width: 1390px;
  }
  .development .swiper-slide {
    height: 391px;
  }
  .development__title {
    margin-top: 80px;
  }
  .development__slider {
    margin-top: 70px;
  }
  .development__stage {
    font-size: 21px;
  }
  .development__text {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  .development__title {
    margin-top: 125px;
  }
  .development__slider {
    margin-top: 96px;
  }
  .development__button {
    margin: 70px 0px 130px;
  }
}

@media (min-width: 2560px) {
  .development__title {
    margin-top: 145px;
  }
}

.footer {
  background: #64ABF9;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__column {
  margin-top: 60px;
}

.footer__logo::before {
  content: '';
  background: url("../img/favicon.svg") left/85px 85px no-repeat;
  padding: 55px 85px 42.5px 5px;
}

.footer__title {
  font-weight: 800;
  color: #FFFFFF;
  font-size: 22px;
  letter-spacing: 5px;
}

.footer__signature {
  margin: 36px 0px 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
}

@media (min-width: 1024px) {
  .footer__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 50px 50px 0px;
  }
  .footer__signature {
    margin: 56px 0px 60px;
  }
}

@media (min-width: 1420px) {
  .footer__signature {
    margin: 100px 0px 80px;
  }
}

@media (min-width: 1920px) {
  .footer__row {
    margin: 120px 0px;
  }
  .footer__title {
    font-size: 28px;
    letter-spacing: 6px;
  }
  .footer__signature {
    font-size: 22px;
    margin: 120px 0px 80px;
  }
}

@media (min-width: 2560px) {
  .footer__logo::before {
    padding-left: 10px;
  }
  .footer__title {
    font-size: 32px;
    letter-spacing: 7px;
  }
  .footer__signature {
    font-size: 24px;
    margin: 120px 0px 100px;
  }
}

.social__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.social__link img {
  width: 32px;
  height: 32px;
}

@media (min-width: 1920px) {
  .social__row {
    margin-top: 80px;
  }
  .social__link img {
    width: 42px;
    height: 42px;
  }
}

@media (min-width: 2560px) {
  .social__row {
    margin-top: 100px;
  }
  .social__link img {
    width: 50px;
    height: 50px;
  }
}

.contacts__list {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
}

.contacts__item {
  margin-top: 15px;
}

.contacts__item:first-child {
  margin-top: 0px;
}

.contacts__item::before {
  content: '';
  background: url("../img/social/4.svg") left/28px 28px no-repeat;
  padding: 24px 28px 28px 5px;
}

@media (min-width: 1920px) {
  .contacts__list {
    font-size: 24px;
  }
  .contacts__item {
    margin-top: 15px;
  }
  .contacts__item:first-child {
    margin-top: 0px;
  }
  .contacts__item::before {
    content: '';
    background: url("../img/social/4.svg") left/32px 32px no-repeat;
    padding: 28px 32px 32px 5px;
  }
}

@media (min-width: 2560px) {
  .contacts__list {
    font-size: 28px;
  }
  .contacts__item {
    margin-top: 25px;
  }
  .contacts__item:first-child {
    margin-top: 0px;
  }
  .contacts__item::before {
    content: '';
    background: url("../img/social/4.svg") left/42px 42px no-repeat;
    padding: 36px 42px 42px 10px;
  }
}

.mail__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-decoration: underline;
}

@media (min-width: 1920px) {
  .mail__text {
    font-size: 24px;
  }
}

@media (min-width: 2560px) {
  .mail__text {
    font-size: 28px;
  }
}
