//=========================================================================================
//This SCSS file - is the file in which site styles are created and converted to css 
//The Mobile First method was used to develop the site
//The BEM methodology is the basis for building the class dependence of elements
//The site is development with a cross-browser and flex-adaptive user interface
//=========================================================================================
//Connecting the reset file
@import 'nullstyle.scss';
//=========================================================================================
//Connecting a font family
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;800;900&family=Roboto&display=swap');
//=========================================================================================
//Semantic tags
body{
  &._lock{
    overflow: hidden;
  }
}
//=========================================================================================
//General clases of site styles
.wrapper {
	font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.page {
  min-height: 100%;
}
.container {
	min-width: 375px;
	margin: 0 auto;
  padding: 0px 20px;
  @media (min-width: 767px) {
    max-width: 767px;
  }
  @media (min-width: 1024px) {
    max-width: 1024px;
  }
  @media (min-width: 1920px) {
    max-width: 1210px;
  }
  @media (min-width: 2560px) {
    max-width: 1850px;
  }
}
.section {
  // .section__title
  &__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 150%;
    text-align: center;
    color: #111111;
    & span{
      white-space: nowrap;
    }
    @media (min-width: 1024px) {
      font-size: 32px;
      white-space: normal;
    }
    @media (min-width: 2500px) {
      font-size: 40px;
    }
  }
}
//Swiper - slider
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
}
.swiper-button-next {
}

//=========================================================================================
//Header + menu burger + adaptive
.header {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  z-index: 10;
  background-color: #67AEFC;
  // header > container
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    @media (min-width: 1024px) {
      min-height: 60px;
    }
    @media (min-width: 1920px) {
      min-height: 95px;
    }
    @media (min-width: 2560px) {
      min-height: 100px;
    }
  }
  // .header__logo
  &__logo {
    z-index: 9;
    &::before{
    	content: '';
			background: url('../img/favicon.svg') left /35px 35px no-repeat;
      padding: 20px 35px 20px 5px;
      @media (min-width: 1920px) {
        background: url('../img/favicon.svg') left /59px 59px no-repeat;
        padding: 40px 59px 34.5px 10px;
      }
      @media (min-width: 2560px) {
        background: url('../img/favicon.svg') left /82px 82px no-repeat;
        padding: 60px 82px 50px 15px;
      }
    }
  }
  // .header__title
  &__title {
    font-weight: 800;
    color: #FFFFFF;
    font-size: 13px;
    letter-spacing: 2.5px;
    @media (min-width: 1920px) {
      font-size: 24px;
      letter-spacing: 5.5px;
    }
    @media (min-width: 2560px) {
      font-size: 32px;
      letter-spacing: 7.5px;
    }
  }
  // .header__menu
  &__menu {
  }
}
.menu {
  // .menu__icon
  &__icon {
    z-index: 9;
    position: relative;
    width: 50px;
    height: 18px;
    top: 5px;
    display: inline-block;
    cursor: pointer;
    &::before, &::after{
      content: '';
    }
    & span, &::before, &::after{
      top: 0;
      position: absolute;
      height: 13px;
      width: 13px;
      border-radius: 50%;
      transition: all 0.3s ease 0s;
      background-color: #FFFFFF;
    }
    &::before{
      left: 0;
    }
    & span {
      left: 50%;
      transform: scale(1) translate(-50%,0%);
    } 
    &::after{
      right: 0;
    }
    &._active{ //Хрестик закриття меню
     	display: block;
			position: relative;
			width: 30px;
			height: 18px;
      &::before, & span, &::after{
  			left: -35%;
  			position: absolute;
  			height: 20%;
  			width: 100%;
        border-radius: 0%;
      }
      & span{
				transform: scale(0) translate(0px, -50%);
			}
			&::before{
				transform: rotate(45deg) translate(0px, 0px);
			}
			&::after{
				transform: rotate(-45deg) translate(0px, 0px);
			}
    }
  }
  // .menu__dot
  &__dot {}
  // .menu__body
  &__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(103, 174, 252, 0.95);
    padding: 60px 30px 30px 30px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    text-transform: uppercase;
    &::before{
      content:'';
      position: fixed;
      width: 100%;
      top:0;
      left:0;
      height: 50px;
      background-color: #67AEFC;
      z-index: 8;
    }
    &._active{
      left: 0;
    }
  }
  // .menu__list
  &__list {
    font-weight: 800;
    font-size: 17px;
    line-height: 27px;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  // .menu__item
  &__item {
    margin-top: 40px;
  }
  // .menu__link
  &__link {
    padding: 5px 0px;
    color: #FFFFFF;
    &:hover{
      text-decoration: underline;
    }
  }
  @media (min-width: 767px){
    &__icon{
      display: none;
    }
    &__body{
      position: relative;
      top: 0;
      left: 0;
      padding: 0;
      overflow:hidden;
      &::before{
        display: none;
      }
    }
    &__list{
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 20px;
      text-transform: capitalize;
      color: #FFFFFF;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
    &__item {
      margin: 0px 10px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
  @media (min-width: 1024px){
   &__list{
     font-size: 16px;
   }
   &__item{
     margin: 0px 17.5px;
   }
  }
  @media (min-width: 2560px) {
    &__list{
      font-size: 25px;
    }
    &__item{
      margin: 0px 20px;
    }
  }
}
//=========================================================================================
//Element - Order button:
.order {
  // .order__button
  &__button {
    width: 150px;
    height: 37.78px;
    background: #75E169;
    border-radius: 5px;
    font-weight: 700;
    font-size: 15px;
    line-height: 100%;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    &:hover{
      border: 2px solid #FFFFFF;
    }
    &:active{
      background: #FFFFFF;
      color:#67AEFC;
    }
    // .order__button_+modificator
    &_boarding, &_info, &_feedback{
      margin-top: 35px;
      width: 335px;
      height: 60px;
      border-radius: 10px;
      &:hover{
        border: 2px solid #67AEFC;
      }
      &:active{
        background: #67AEFC;
        color:#FFFFFF;
      }
    }
    // .order__button_info
    &_info{
    }
    @media (min-width: 1024px){   
      width: 270px;
    }
    @media (min-width: 2560px) {
      width: 240px;
      font-size: 25px;
      height: 60px;
    }
    // .order__button_menu
    &_menu {
      width: 170px;
      display: none;
      @media (min-width: 767px){
        display: flex;
      }
    }
  }
}
//=========================================================================================
//Fullscreen block + adaptive
.boarding {
  margin-top: 60px;
  // .boarding__content
  &__column {}
  // .boarding__picture
  &__picture {}
  // .boarding__bg
  &__bg {
    min-width: 100%;
    & img{
      width: 100%;
      object-fit: cover;
    }
  }
  // .boarding__container
  &__container {
    min-width: 375px;
  	margin: 0 auto;
    padding: 0px 20px;
  }
  // .boarding__title
  &__title {
    margin-top: 50px;
    font-weight: 800;
    font-size: 26px;
    line-height: 120%;
    text-transform: uppercase;
    color: #000000;
  }
  // .boarding__text
  &__text {  
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #000000;
    text-align: left;
    & span{
      display: block;
    }
  }
  // .boarding__buttom
  &__buttom {
    & .order__button{
      margin-bottom: 35px;
    }
  }
  @media (min-width: 500px) {
    &__text {  
      & span{
        display: inline;
      }
    }
  }
  @media (min-width: 760px) {
    &__title {
      text-align: center;
      & span{
        margin-top: 10px;
        display: block;
      }
    }
    &__text {  
      text-align: center;
    }
  }
  @media (min-width: 1024px) {
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    &__column {
      flex: 1 1 50%;
      position: relative;
    }
    &__picture {
      &::after{
       content:'';
        position: absolute;
        top: 0;
        right: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: url('../img/boarding/desctop_boarding.png') right / 99% no-repeat;
      }
    }  
    &__bg {
      opacity: 0;
    }
    &__title {
      text-align: left;
      color: #484848;
      & span{
        display: inline;
      }
    }
    &__text {  
      text-align: left;
    }
    &__buttom {
      & .order__button{
        margin: 35px 0px 0px;
      }
    }
  }
  @media (min-width: 1420px) {
    margin-top: 95px;
    height: 100%;
    background: url('../img/boarding/desctop_boarding_big.png') center / 100% no-repeat;
    &__column{
      &_hide{
        display: none;
      }
      max-width: 1024px;
      margin: 0 auto;
      display: flex;
      justify-content: start;
    }
    &__container{
      margin: 0;
      flex: 0 0 50%;
    }
    &__title{
      margin-top: 170px;
    }
    &__buttom{
      & .order__button{
        margin: 60px 0 180px;
      }
    }
  }
  @media (min-width: 1920px){
    &__column{
      max-width: 1210px;
    }
    &__title{
      font-weight: 900;
      font-size: 50px;
      line-height: 125%;
      text-transform: none;
    }
  }
  @media (min-width: 2520px){
    &__title{
      margin-top: 280px;
    }
    &__buttom{
      & .order__button{
        margin: 60px 0 300px;
      }
    }
  }
}

//=========================================================================================
//About Block + adaptive
.about {
  background: #DAECFF;
  padding: 40px 0px 30px 0;
  position: relative;
  // .about__title
  &__title {}
  // .about__list
  &__list {
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    color: #000000;
  }
  // .about__item
  &__item {
    margin: 10px 0px;
    background: #FFFFFF;
    border-radius: 10px;
    //після натискання на обраний елемент списку випадають деталі;
    &._active{
      padding-bottom: 50px;
      .about__name{
        font-weight: 800;
        &::before{
          background: #6EB1FB;;
        }
      }
      .about__arrow{
        margin-top: 10px;
        transform: rotate(45deg);
      }
      .about__text{
        display: block;
      }
    }
    transition: all 0.5s ease 0s;

  }
  // .about__chapter
  &__chapter {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 14px 0px 14px 57px;
  }
  // .about__name
  &__name {
    width: 233px;
    // circle
    &::before{
      content:'';
      display: inline-block;
      width: 15px;
      height: 15px;
      background: #75E169;
      border-radius: 50%;
      position: relative;
      left: -33px;
      top: 2px;
      margin: 0px -18px 0px 0px;
    }    
  }
  // .about__arrow
  &__arrow {
    width: 21px;
    height: 21px;
    border-top: 3px solid #000000;
    border-left: 3px solid #000000;
    transform: rotate(-135deg);
    margin-right: 24px;
  }
  // .about__text
  &__text {
    display: none;
    border-left: 2px solid #000000;
    padding-left: 25px;
    margin: 20px 40px 0px 30px;
  }
  @media (min-width: 450px) {
    &__name {
      width: auto;
    }
  }
  @media (min-width: 1024px) {
    padding: 26px 0px 40px 0;
    &__list {
      margin-top: 27px;
    }
  }
  @media (min-width: 1420px) {
    padding: 36px 0px 60px 0;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      right: 45px;
      bottom: 10px;
      z-index: 5;
      width: 133px;
      height: 148px;
      background: url('../img/about/bag.png') right / 75% no-repeat;
    }
    &__list {
      margin-top: 42px;
    }
    &__list {
      margin-top: 35px;
      font-size: 20px;
    }
  }
  @media (min-width: 1920px) {
    padding: 120px 0px 120px 0;
    &::after{
      content: '';
      right: 145px;
      bottom: 92px;
      background: url('../img/about/bag.png') right / 100% no-repeat;
    }
    &__list {
      margin-top: 84px;
    }
    &__chapter {
      padding: 14px 0px 14px 96px;
    }
    &__name {
      // circle
      &::before{
      width: 24px;
      height: 24px;
      position: relative;
      left: -44px;
      top: 5px;
      margin: 0px -24px 0px 0px;
      }
    }
    // arrow
    &__arrow {
      margin-right: 40px;
    }
    &__text {
      padding-left: 27px;
      margin: 20px 70px 0px 62px;
    }
  }
  @media (min-width: 2560px) {
    &__list {
      font-size: 32px;
    }
    &__name {
      // circle
      &::before{
        width: 30px;
        height: 30px;
        position: relative;
        left: -50px;
        top: 5px;
        margin: 0px -30px 0px 0px;
      }
    }
    &__arrow {
      width: 30px;
      height: 30px;
    }
    &__text {
      padding-left: 45px;
      margin: 20px 100px 0px 60px;
    }
  }
}
//=========================================================================================
//Development Block + adaptive 
.development {
  padding: 40px 0px 45px;
  position: relative;
  &::before{
    content: '';
    position: absolute;
    top: -22px;
    left: -19px;
    z-index: 5;
    width: 39px;
    height: 39px;
    background: url('../img/development/sphere.svg') left / 100% no-repeat;
  } 
  // .development .swiper
  & .swiper {
  }
  // .development .swiper-slide
  & .swiper-slide {
    height: 615px;
    padding: 25px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #67AEFC;
    border-radius: 15px;
  }
  // .development__title
  &__title {
  }
  // .development__slider
  &__slider {   
    margin-top: 20px;
    font-size: 17px;
    line-height: 175%;
    color: #000000;
  }
  // .development__part
  &__part{
    flex: 1 1 50%;
  }
  // .development__stage
  &__stage {
    font-weight: 800;
    text-transform: uppercase;
  }
  // .development__text
  &__text {
  }
  // .development__picture
  &__picture {
    flex: 1 1 50%;
    margin: 10px 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    & img{
      max-width: 100%;
      height: 100%;
    }
  }
  // .development__button
  &__button{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // .development .swiper-button-prev/next-unique
    & .swiper-button-prev-unique, .swiper-button-next-unique  {
      width: 60px;
      height: 60px;
      border: 2px solid #67AEFC;
      border-radius: 15px;
      &::after{
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-top: 2px solid #000000;
        border-left: 2px solid #000000;
        transform: rotate(-45deg);
      }
      &:active{
        background: #67AEFC;
        &::after{
          border-top: 2px solid #FFFFFF;
          border-left: 2px solid #FFFFFF;
        }
      }
    }
    & .swiper-button-prev-unique  {
      &::after{
       position: relative;
        left: 20px;
        top: 16px;
        transform: rotate(-45deg);
      }
    }
    & .swiper-button-next-unique  {
      &::after{
        position: relative;
        left: 10px;
        top: 16px;
        transform: rotate(135deg);
      }
    }
  }
   @media (min-width: 760px) {
    &::after{
      content: '';
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 190px;
      height: 70px;
      background: url('../img/development/wave.svg') right / 70% no-repeat;
    } 
    & .swiper-slide {
      height: 320px;
      padding: 25px 30px 0px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
    &__text {
      margin-top: 20px;
    }
    &__picture {
      margin-bottom: 0px;
    }
  }
  @media (min-width: 1024px) {
     padding: 60px 0px 100px;
     &::before{
      top: 25px;
      left: 25px;
    }
    &::after{
      right: 25px;
      bottom: 25px;
      width: 190px;
      height: 70px;
    } 
    &__slider {
      margin-top: 46px;
    }
    &__button{
      margin: 50px 0px 0px;
      justify-content: center;
      & .dev-swiper-button-prev-unique, .swiper-button-next-unique  {
        margin: 0 15px 0;
      }
    }
  }
  @media (min-width: 1420px) {
    padding: 80px 0px 100px;
    &::before{
      top: 65px;
      left: 187px;
      width: 68px;
      height: 68px;
    }
    &::after{
      right: 95px;
      background: url('../img/development/wave.svg') right / 100% no-repeat;
    } 
    & .container{
      min-width: 1390px;
    }
    & .swiper-slide {
      height: 391px;
    }
    &__slider {
      margin-top: 70px;
    }
    &__stage {
      font-size: 21px;
    }
    &__text {
      font-size: 18px;
    }
  }
  @media (min-width: 1920px) {
    padding: 125px 0px 130px;
    &::before{
      top: 129px;
      left: 187px;
    }
    &::after{
      right: 186px;
      bottom: 47px;
    } 
    &__slider {
      margin-top: 96px;
    }
    &__button{
      margin: 70px 0px 0px;
    }
  }
  @media (min-width: 2560px) {
    padding-top: 145px;
  }
}
//=========================================================================================
//Examples of work
.works {
  background: #DAECFF;
  padding: 25px 0px 30px;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    right: 33px;
    bottom: -27px;
    width:  39px;
    height: 39px;
    background: url('../img/works/sphere.svg') right / 100% no-repeat;
  } 
  // .works__title
  &__title {
    margin-bottom: 15px;
  }
  &__example{
    display: none;
  }
  ._active{
    // .works__example
    & .works__example {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      top:0;
      left: 0;
      z-index: 2;
      min-width: 100%;
      min-height: 100%;
      background: #67AEFC;
      border-radius: 15px;
      font-weight: 800;
      font-size: 17px;
      line-height: 175%;
      color: #FFFFFF;
      // .example__title
      & .example__title {
        text-transform: uppercase;
      }
      // .example__text
      & .example__text {
        font-weight: 400;
      }
    }
  }
  // .works__slider
  &__slider {}
  // .works__list
  &__list {}
  // .works__item
  &__item {
    margin-bottom: 15px;
  }
  // .works__link
  &__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // .works__picture
  &__picture {
    width: 100%;
    border-radius: 15px;
    & img{
      object-fit: cover;
    }
  }
  // .works__button
  &__button {
    margin-bottom: 0px;
  }
  @media (min-width: 760px) {
    &::before{
      content: '';
      position: absolute;
      top:-20px;
      left: -70px;
      width:  190px;
      height: 130px;
      background: url('../img/works/wave.svg') left / 70% no-repeat;
    }
    padding: 40px 0px 30px;
    // .works__slider
    &__list{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__item{
      margin: 0px 5px 0px;
    }
  }
  @media (min-width: 1024px) {
    padding: 60px 0px 50px;
    &::before{
      top:-20px;
      left: -20px;
      width:  190px;
      height: 130px;
    }
    & .wor-swiper-button-next-unique, & .wor-swiper-button-prev-unique, & ._active{
      display: none;
    }
    & .swiper-wrapper{
      display: flex;
    }
    &__list{
      flex-direction: column;
    }
    &__item{
      margin: 5px 5px;
    }
    &__link{
      &:hover{
        // .works__example
        & .works__example {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: absolute;
          top:0;
          left: 0;
          z-index: 2;
          min-width: 100%;
          min-height: 100%;
          background: #67AEFC;
          border-radius: 15px;
          font-weight: 800;
          font-size: 17px;
          line-height: 175%;
          color: #FFFFFF;
          // .example__title
          & .example__title {
            text-transform: uppercase;
          }
          // .example__text
          & .example__text {
            font-weight: 400;
          }
        }
      }
    }
  }
  @media (min-width: 1420px) {
    &::before{
      top: 301px;
      left: -50px;
      background: url('../img/works/wave.svg') left / 100% no-repeat;
    }
    &::after{
      right: 72px;
      bottom: 45px;
      width:  108px;
      height: 108px;
      background: url('../img/works/sphere.svg') right / 50% no-repeat;
    } 
    padding: 90px 0px 0px;
    &__title{
      margin-bottom: 50px;
    }
    &__item{
      margin: 10px 0px;
      width: 100%;
    }
  }
  @media (min-width: 1920px) {
    &::before{
      left: 23px;
    }
     &::after{
      right: 102px;
    }
    padding: 110px 0px 0px;
    &__item{
      margin: 10px 0px;
    }
  }
  @media (min-width: 2560px) {

  }
}
//=========================================================================================
//Need more info block + adaptive
.info {
  position: relative;
  // .info__title
  &__title {
    margin: 45px 0px 30px;
    // .info__title_main
    &_main{
    }
      // .info__title_tiny
    &_tiny{
      display: none;
    }
  }
  // .info__row
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
  }
  // .info__column
  &__column {
  }
  // .info__picture
  &__picture {
    max-width: 100%;
    & img{
      width: 100%;
      object-fit: cover;
    }
  }
  // .info__text
  &__text {
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    color: #111111;
    text-align: justify;
    margin-top: 30px;
  }
  // .info__button
  &__button {
  }
  @media (min-width: 1024px) {
    &__title{
      &_main{
       display: none;
      }
      &_tiny{
        display: block;
        margin: 137px 0px 0px;
        text-align: left;
        line-height: 125%;
      }
    }
    &__row {
      flex-direction: row-reverse;
      margin: 0;
    }
    &__column {
      flex: 1 1 50%;
    }
    &__text {
      text-align: left;
      font-size: 18px;
      line-height: 140%;
    }
    &__button{
      & .order__button_info{
        margin: 35px 0px 100px;
      }
    }
  }
  @media (min-width: 1420px) {
    &::before{
      content: '';
      position: absolute;
      top: 70px;
      left: 70px;
      width:  58px;
      height: 58px;
      background: url('../img/info/sphere.svg') left / 100% no-repeat;
    }
    &__title, &__text{
      width: 670px;
    }
    &__column{
      position: relative;
      left: 8%;
    }
    &__picture { 
      width: 470px;
      & img{
      }
    }
    &__button{
      & .order__button_info{
        margin: 45px 0px 180px;
      }
    }
  }    
  @media (min-width: 1920px) {
    &::before{
      top: 150px;
      left: 153px;
    }
    &__title{
      &_tiny{
        margin: 215px 0px 0px;
      }
    }
    &__picture {
      width: 670px;
    }
  }
  @media (min-width: 2560px) {
    &__column{
      position: static;
      flex: 1 1 40%;
    }
    &__picture {
      width: 80%;
      & img{
        object-fit: cover;
      }
    }
  }

}
//=========================================================================================
//feedback block + adaptive
.feedback {
  padding: 40px 0px 30px;
  background: #DAECFF;
  position: relative;
  // .feedback__row
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  // .feedback__column
  &__column {
    // .feedback__column_img
    &_img{}
  }
  // .feedback__form
  &__form {
    position: relative;
  }
  // .feedback__title
  &__title {}
  // .feedback__text
  &__text {
    margin-top: 15px;
    font-weight: 400;
    font-size: 17px;
    line-height: 175%;
    text-align: center;
    color: #111111;
    & span{
      white-space: nowrap;
    }
  }
  @media (min-width: 510px) {
    &__form {
      max-width: 480px;
    }
    &__column {
      &_img{
        display: none;
      }
    }
  }
  @media (min-width: 700px) {
    &::after{
      content: '';
      position: absolute;
      top: -60px;
      right: 550px;
      width:  184px;
      height: 145px;
      background: url('../img/feedback/waveANDsphere.svg') left / 50% no-repeat;
    }
  }
  @media (min-width: 1024px) {
    padding: 100px 0px 20px;
    &::before{
      content: '';
      position: absolute;
      top: 160px;
      left: 15px;
      width:  328px;
      height: 338px;
      background: url('../img/feedback/phone.svg') left / 70% no-repeat;
    }
    &::after{
      top: 60px;
      right: 65px;
      background: url('../img/feedback/waveANDsphere.svg') right / 100% no-repeat;
    }
    &__title {
      margin-bottom: 16px;
    }
    &__text {
      & span{
        white-space: normal;
      }
    }
  }
  @media (min-width: 1420px) {
    &::before{
      top: 220px;
      left: 132px;
      background: url('../img/feedback/phone.svg') left / 100% no-repeat;
    }
    &::after{
      top: 250px;
      right: 205px;
    }
    padding: 140px 0px 60px;
    &__title {
      margin-bottom: 26px;
    }
    &__text {
      margin-bottom: 20px;
    }
  }
  @media (min-width: 1920px) {
    &::before{
      top: 262px;
      left: 232px;
      background: url('../img/feedback/phone.svg') left / 100% no-repeat;
    }
    &::after{
      top: 289px;
      right: 405px;
    }
    padding: 180px 0px 90px;
    &__title {
      margin-bottom: 36px;
    }
    &__text {
      margin-bottom: 30px;
    }
  }
}
.order__button_feedback{
  margin-bottom: 40px;
  position: relative;
    &::after{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: url('../img/feedback/Loading.gif') center / 50px no-repeat;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease 0s;
  }
  &._sending{
    &::after{
      overflow: visible;
      opacity: 1;
      pointer-events: all;
    }
  }
}
.form {
  // .form__body
  &__body {
  }
  // .form__item
  &__item {
    margin: 10px auto;
    &:first-child{
      margin-top: 25px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  // .form__label
  &__label {
  }
  // .form__input
  &__input {
    display: block;
    width: 100%;
    height: 58px;
    background: #FFFFFF;
    border: 1px solid #67AEFC;
    border-radius: 10px;
    padding: 0px 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 58px;
    color: #939393;
    &:focus{
      border: 2px solid #67AEFC;
    }
    &._error{
      border: 1px solid red;
      box-shadow: 0 0 15px red;
    }
  }
  @media (min-width: 510px) {
    &__item {
      max-width: 470px;
    }
  }
  @media (min-width: 1024px) {

  }
  @media (min-width: 1420px) {

  }
  @media (min-width: 1920px) {

  }
  @media (min-width: 2560px) {

  }
}
//=========================================================================================
//footer block + adaptive
.footer {
  background: #64ABF9;
  // .footer__row
  &__row {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  // .footer__column
  &__column {
    margin-top: 60px;
  }
  // .footer__logo
  &__logo {
    &::before{
      content: '';
  	  background: url('../img/favicon.svg') left /85px 85px no-repeat;
      padding: 55px 85px 42.5px 5px;
    }
  }
  //.footer__title
  &__title{
    font-weight: 800;
    color: #FFFFFF;
    font-size: 22px;
    letter-spacing: 5px;
  }
  // .footer__signature
  &__signature {
    margin: 36px 0px 40px;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    text-align: center;
  }
  @media (min-width: 1024px) {
    &__row {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
      margin: 50px 50px 0px;
    }
    &__signature {
      margin: 56px 0px 60px;
    }
  }
  @media (min-width: 1420px) {
    &__signature {
      margin: 100px 0px 80px;
    }
  }
  @media (min-width: 1920px) {
    &__row{
      margin: 120px 0px;
    }
    &__title{
      font-size: 28px;
      letter-spacing: 6px;
    }
    &__signature {
      font-size: 22px;
      margin: 120px 0px 80px;
    }

  }
  @media (min-width: 2560px) {
    &__logo {
      &::before{
        padding-left: 10px;
      }
    }
    &__title{
      font-size: 32px;
      letter-spacing: 7px;
    }
    &__signature {
      font-size: 24px;
      margin: 120px 0px 100px;
    }
  }
}
.social {
  // .social__row
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
  }
  // .social__item
  &__item {
  }
  // .social__link
  &__link {
    & img{
      width: 32px;
      height: 32px;
    }
  }
  @media (min-width: 1920px) {
    &__row{
      margin-top: 80px;
    }
    &__link {
      & img{
        width: 42px;
        height: 42px;
      }
    }
  }
  @media (min-width: 2560px) {
    &__row{
      margin-top: 100px;
    }
    &__link {
      & img{
        width: 50px;
        height: 50px;
      }
    }
  }
}
.contacts {
  // .contacts__list
  &__list {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
  }
  // .contacts__item
  &__item {
    &:first-child{
      margin-top: 0px;
    }
    margin-top: 15px;
    &::before{
      content: '';
      background: url('../img/social/4.svg') left /28px 28px no-repeat;
      padding: 24px 28px 28px 5px;
    }
  }
  @media (min-width: 1920px) {
    &__list {
      font-size: 24px;
    }
    &__item {
      &:first-child{
        margin-top: 0px;
      }
      margin-top: 15px;
      &::before{
        content: '';
        background: url('../img/social/4.svg') left /32px 32px no-repeat;
        padding: 28px 32px 32px 5px;
      }
    }
  }
  @media (min-width: 2560px) {
    &__list {
      font-size: 28px;
    }
    &__item {
      &:first-child{
        margin-top: 0px;
      }
      margin-top: 25px;
      &::before{
        content: '';
        background: url('../img/social/4.svg') left /42px 42px no-repeat;
        padding: 36px 42px 42px 10px;
      }
    }
  }
}
.mail {
  // .mail__text
  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: underline;
  }
  @media (min-width: 1920px) {
    &__text {
      font-size: 24px;
    }
  }
  @media (min-width: 2560px) {
    &__text {
      font-size: 28px;
    }
  }
}
//=========================================================================================
